/*
Typeahead styles taken from https://github.com/bassjobsen/typeahead.js-bootstrap-css
and adapted
*/
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  width: 100%;
}
span.twitter-typeahead .tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .term:hover,
span.twitter-typeahead .term:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
span.twitter-typeahead .tt-suggestion.tt-cursor .term {
  color: #ffffff;
  background-color: #428bca;
}
span.twitter-typeahead h3 {
  padding-left: 5px;
}
span.twitter-typeahead .term {
  padding-left: 10px;
}
span.twitter-typeahead {
  width: 80%;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}

/* Other styles */

#results {
  line-height: 4ex;
}
#results span.result {
  padding-right: 30px;
}
.query {
  font-style: italic;
}

/* entity type / source formatting */
.result.topic a {
  color: #5555FF; /*bright blue*/
  font-weight: bold;
}
.result.place a {
  color: #AA0000; /*red*/
  font-weight: bold;
}
.result.person a {
  color: #FF5555; /*bright red*/
  font-weight: bold;
}
.result.meeting a {
  color: #00AAAA; /*cyan*/
  font-weight: bold;
}
.result.event a {
  color: #AA00AA; /*magenta*/
  font-weight: bold;
}
.result.organization a {
  color: #00AA00; /*green*/
  font-weight: bold;
}
.result.thing a {
  color: #FFCC00; /*dark yellow*/
  font-weight: bold; 
}
.result.creativework a {
  color: #660066; /*dark purple*/
  font-weight: bold; 
}
.result.fast a {
  color: #444444;
}
.result.loc a {
  color: #888888;
}
.result.viaf a {
  color: #BBBBBB;
}